/*
h1{
color: blue;
font-family: fantasy;
filter: brightness(yellow);
font-size: 0rem;
font-weight: bolder;
}

*/    

/*
div{
color-interpolation-filters: initial;
background-color: blueviolet;
border-inline-end-color: brown;
font-kerning: unset;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: initial;
}
*/
